.Engine{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

.Engine .content {
    text-align: center;
}

.searcher{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #fff; */
    padding: 20px 10px;
    border-radius: 15px;
}
.searcher .form-control{
    border-color: rgb(241, 233, 233);
}
.searcher select{
    width: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    background: #fff;
    color: #6c757d;
}
.searcher #search-btn{
    padding: 5px 10px;
    border-radius: 5px;
    background: #fff;
    color: #6c757d;
    outline: none;
    border-color: transparent;
}