<div class="Engine">
  <div class="content">
    <h2>
      {{ title }}
    </h2>
    <h5>
      {{ slogan }}
    </h5>

    <div class="searcher">
      <div class="row">
        <div class="col-md-4">
          <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="model"
            [ngbTypeahead]="search" placeholder="Business name" (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)" #instance="ngbTypeahead" />
        </div>
        <div class="col-md-3">
          <select name="country" id="country" [(ngModel)]="businessSelected" >
            <option value="country" disabled selected>Select the country</option>
            <option *ngFor="let country of data"  [value]="country.country">{{ country.country }}</option>
          </select>
        </div>
        <div class="col-md-3">
          <select name="category" id="category" [(ngModel)]="businessCategory">
            <option value="country" disabled selected>Select the category</option>
            <option *ngFor="let item of categories"  [value]="item.name"> {{ item.name}}  
            </option>
          </select>
        </div>
        <div class="col-md-2">
          <button id="search-btn" (click)="getResults()">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <app-results [results]="results"></app-results> -->