.Engine{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    color: #fff;
}
h2{
    font-size: 35px;
}

.Engine .content {
    text-align: center;
}

.searcher{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: none;
}
.searcher .form-control{
    border-color: rgba(208, 202, 202, 0.8);
}
.searcher select{
    width: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    background: #fff;
    color: #6c757d;
    border-radius: 0px;
    border-color:rgba(208, 202, 202, 0.8);
}
.searcher #search-btn{
    padding: 5px 10px;
    background: #fff;
    color: #fff;
    outline: none;
    background-color: var(--main-color);
    border-color:rgba(208, 202, 202, 0.8);
    
}