
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

.App{
    background: url(./assets/img/header.jpg) no-repeat center center/cover;
    height: 600px;
}

app-results{
    max-width: 80%;
}